main {
    .taskBlocks {
        position: relative;
        display: flex;
        justify-content: space-around;
        margin-left: 5%;
        margin-right: 5%;

        ul {
            background: rgb(17, 4, 134);
            border-radius: 15px;
            box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
            background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
            transition: all 0.3s ease-in-out;
            min-width: 25%;
            text-align: center;
            padding: 0;
        }

        
        ul:hover {
            box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
        }
    
        &.task-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
    }

}