
button{
    border-radius: 5px;
    padding: 8px;
    border: none;
}
#addItemButton{
    
    background-color: rgb(36, 59, 85);
    color: rgb(196, 233, 255);
    margin-left: 5%;
    margin-top: 10px;
}
#taskform{
    background-color: rgb(36, 59, 85);
    // position:sticky;
    margin: auto;
}
