ul{margin-right: 45px;}
.task-item{
    background-color: red;
    max-height: 500px;
    max-width: 400px;
    border-radius: 20px;
    // width: 90%;
    // max-width: 350px;
    // margin: 5px;
    // padding: auto;
}